<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/baseLayout}"
	layout:fragment="body">

<head>
	<title>메인</title>
</head>

<body>
	<div id="slide">
		<ul>
			<li><a th:href="@{/goods/menuGoods(menuGoods='화산귀환')}"><img alt="배너1"
						th:src="@{/resources/image/main_banner_화산귀환.jpg}"></a></li>
			<li><a th:href="@{/goods/menuGoods(menuGoods='물위의우리')}"><img alt="배너2"
						th:src="@{/resources/image/main_banner_물위의우리.jpg}"></a></li>
			<li><a th:href="@{/goods/menuGoods(menuGoods='언덕위의제임스')}"><img alt="배너3"
						th:src="@{/resources/image/main_banner_언덕위의제임스.jpg}"></a></li>
			<li><a th:href="@{/goods/menuGoods(menuGoods='바른연애길잡이')}"><img alt="배너4"
						th:src="@{/resources/image/main_banner_바른연애길잡이.jpg}"></a></li>
		</ul>

		<a class="btn_left" data-direction="-1">
			<img alt="왼쪽 슬라이드" th:src="@{/resources/image/arrow_back.svg}">
		</a>
		<a class="btn_right" data-direction="1">
			<img alt="오른쪽 슬라이드" th:src="@{/resources/image/arrow_forward.svg}">
		</a>
		<div class="button"></div>
	</div>

	<div id="best_goods" class="goods_box">
		<h2>인기 굿즈</h2>
		<div class="best_goods_list goods_box_list">
			<div th:each="item : ${goodsMap.bestgoods}">
				<a th:href="@{/goods/goodsDetail(goods_id=${item.goods_id})}">
					<img
						th:src="@{/thumbnails.do(goods_id=${item.goods_id}, fileName=${item.goods_fileName})}">
					<p th:text="${item.goods_title}"></p>
					<p><span>&#8361;<span
								th:text="${#numbers.formatInteger(item.goods_price, 3, 'COMMA')}"></span></span></p>
				</a>
			</div>
		</div>
	</div>

	<div id="new_goods" class="goods_box">
		<h2>신규 굿즈</h2>
		<div class="new_goods_list goods_box_list">
			<div th:each="item : ${goodsMap.newgoods}" th:count="i" th:unless="${i > 3}">
				<a th:href="@{/goods/goodsDetail(goods_id=${item.goods_id})}">
					<img
						th:src="@{/thumbnails.do(goods_id=${item.goods_id}, fileName=${item.goods_fileName})}">
					<p th:text="${item.goods_title}"></p>
					<p><span>&#8361;<span
								th:text="${#numbers.formatInteger(item.goods_price, 3, 'COMMA')}"></span></span></p>
				</a>
			</div>
		</div>
	</div>

</body>

</html>