<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="adminLayoutFragment">
	
<!-- 인포레이아웃 컨테이너  -->
<div class="container">
	<div class="mypageBox">
		관리자
	</div>
	<div class="mypageBox">
			<h5>상품</h5>
			
			<!-- 배송 준비중 카운트 -->
			<span th:text="${session.goodsLen }"></span>
			<!-- 배송 준비중 카운트 -->
			
		</div>
	<div class="mypageBox">
		<h5>회원</h5>
		
		<!-- 배송중 카운트 -->
		<span th:text="${session.membersLen }"></span>
		<!-- 배송중 카운트 -->
		
	</div>
	
	<div class="mypageBox">
			<h5>주문건수</h5>
			
			<!-- 배송 완료 카운트 -->
			<span th:text="${session.finishedDeliveringCount }"></span>
			<!-- 배송 완료 카운트 -->
			
		</div>
	<div class="mypageBox">
		<h5>장바구니</h5>
		
		<!-- 장바구니 카운트 -->
		<span th:text="${session.cartCount }"></span>
		<!-- 장바구니 카운트 -->
		
	</div>
	<div class="mypageBox lastbox">
		<h5 th:text="${session.memberInfo.member_name  + '님 환영합니다!'}"></h5>
	</div>
		
	<!-- side 메뉴 -->
	<div class="side">
		<b>마이페이지</b><br>
		<a href="/mypage/listMyOrderHistory.do">주문목록</a><br>
		<a href="/cart/myCartList.do">장바구니</a><br>
		<a href="/mypage/myDetailInfo.do">내정보</a>
	</div>
	<!-- side 메뉴 -->
</div> 
<!-- 인포레이아웃 컨테이너  -->

</html>