<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragment/config :: configFragment">
	<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE"></title>
</head>

<body>
	<div id="outer_wrap">
		<header th:replace="fragment/header :: headerFragment"></header>
		<th:block th:replace="fragment/quickMenu :: quickMenuFragment"></th:block>
		<div id="wrap">
			<article>
				<th:block layout:fragment="mypage"></th:block>
				<th:block layout:fragment="body"></th:block>
			</article>
		</div>
		<footer th:replace="fragment/footer :: footerFragment"></footer>
	</div>
</body>

</html>