<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/baseLayout}"
	layout:fragment="body">

<head>
	<title>로그인</title>
</head>

<body>
	<div th:if="${not #strings.isEmpty(message)}">
	    <script th:inline="javascript">
	        /*<![CDATA[*/
	        window.onload = function() {
	            alert("아이디나 비밀번호가 틀립니다. 다시 입력해주세요.");
	        };
	        /*]]>*/
	    </script>
	</div>
	
	<h3>로그인</h3>
	<form th:action="@{/member/login.do}" method="post" id="loginForm" class="member">
	    <label id="member_id_label">아이디 <span class="d-none invalid">사용가능한 아이디입니다.</span><span class="d-none uninvalid">사용중인 아이디입니다.</span><br>
	        <input type="text" name="member_id" id="member_id" onblur="fn_overlapped()" placeholder="아이디" class="inputs" required>
	    </label>
	    <label>비밀번호<br>
	        <input type="password" name="member_pwd" placeholder="비밀번호" class="inputs" required><br>
	    </label>
	    
	    <div class="allRequiredInputCheck d-none">모든 정보를 입력해주세요.</div>
	    
	    <button type="button" onclick="fn_submit()">로그인</button><br>
	    <button type="button" th:onclick="location.href='/member/memberForm.do'">회원가입</button>
	</form>
	
	<script th:inline="javascript">
	    /*<![CDATA[*/
	    const form = document.getElementById("loginForm");
	    const inputs = form.querySelectorAll(".inputs");
	    var allRequiredInputCheck = document.querySelector('.allRequiredInputCheck');
	
	    function fn_submit() {
	        let isValid = true;
	
	        inputs.forEach(function(input) {
	            if (!input.value) {
	                isValid = false;
	                input.classList.add("unuse");
	            } else {
	                input.classList.remove("unuse");
	                allRequiredInputCheck.classList.add('d-none');
	            }
	        });
	
	        if (isValid) {
	            form.submit();
	        } else {
	            allRequiredInputCheck.classList.remove('d-none');
	        }
	    }
	    /*]]>*/
	</script>



</body>

</html>