<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/baseLayout}"
	layout:fragment="body">

<head>
	<title>장바구니</title>
</head>

<body>
	<th:block th:replace="~{layout/infoLayout :: infoLayoutFragment}"></th:block>
	<div id="cart" class="detail_box">
		<h2>장바구니</h2>
		<div>
			<th:block th:if="${#lists.isEmpty(session.cartMap.myCartList)}">
				<p class="emptyCart">장바구니에 상품이 없습니다.
					<i class="fa-sharp fa-solid fa-cart-shopping fa-xl"></i>
				</p>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(session.cartMap.myCartList)}">
				<form name="frm_order_all_cart" th:action="@{/order/orderAllCartGoods}" method="post">
					<th:block th:each="item, cnt : ${session.cartMap.myGoodsList}">
						<!-- 인덱스 초기화 -->
						<th:block th:with="cart_goods_qty=${session.cartMap.myCartList[cnt.index].cart_goods_qty},
	                                       cart_id=${session.cartMap.myCartList[cnt.index].cart_id}">
							<!-- 상품정보 및 선택영역  -->
							<div class="goods_info_box">
								<!-- 체크박스 영역  -->
								<div class="check">
									<input type="checkbox" name="checked_goods" class="cartGood"
										th:attr="price=${item.goods_price * cart_goods_qty}, value=${item.goods_id}">
								</div>
								<!-- 체크박스 영역  -->

								<!-- 상품상세페이지로 이동  -->
								<div class="detail_info_box">
									<a th:href="@{/goods/goodsDetail.do(goods_id=${item.goods_id})}">
										<div class="detail_info">
											<img th:src="@{/thumbnails.do(goods_id=${item.goods_id},fileName=${item.goods_fileName})}"
												style="width: 64px; height: 64px">
											<div>
												<p th:text="${item.goods_title}"></p>
												<p th:text="${item.goods_writer_intro}"></p>
												<p>
													<span class="list_qty" th:text="${cart_goods_qty}"></span>개
													<span> · </span>
													<span
														th:text="${#numbers.formatInteger(item.goods_price * cart_goods_qty, 3, 'COMMA')}" class="goods_tot_price"></span>원
													<span class="goods_price d-none"
														th:text="${item.goods_price * cart_goods_qty}"></span>
												</p>
											</div>
										</div>
									</a>
								</div>
								<!-- 상품상세페이지로 이동  -->

								<!-- 상품정보 수정영역  -->
								<div class="goods_modi">
									<select id="sel_qty" selectedValue="1"
										th:onchange="selectValue(this, this.value,/*[[${item.goods_id}]]*/, /*[[${cnt.index}]]*/, /*[[${item.goods_price}]]*/)">
										<option th:each="i : ${#numbers.sequence(1, 7)}" th:value="${i}" th:text="${i}">
										</option>
									</select>
									<input type="hidden" id="cart_goods_qty" name="cart_goods_qty"
										th:value="${cart_goods_qty}">

									<!-- 주문하기 -->
									<a th:onclick="javascript:fn_order_each_goods('${item.goods_id}', '${item.goods_title}', '${item.goods_price}', '${item.goods_fileName}');"
										style="width: 150px;">주문하기</a>

									<!-- 삭제하기 -->
									<a th:onclick="javascript:delete_cart_goods('${cart_id}');"
										style="width: 150px;">삭제</a>
								</div>
								<!-- 상품정보 수정영역  -->
							</div>
							<!-- 상품정보 및 선택영역  -->
						</th:block>
					</th:block>
				</form>
			</th:block>
		</div>

		<!-- 전체선택  -->
		<label class="allSelect">
			<input name="checked_goods" class="all-deal-select" title="모든 상품을 결제상품으로 설정" type="checkbox"
				onclick="selectAll(this)">
			전체선택
		</label>
		<!-- 전체선택  -->

		<!-- 선택상품 가격표시 영역  -->
		<div class="tot_price" th:with="myGoodsList=${session.cartMap.myGoodsList}, myCartList=${session.cartMap.myCartList},
		totalDeliveryPrice = ${#lists.isEmpty(session.cartMap.myCartList)} ? 0 : 3000, 
					totalGoodsPrice=0">

			<th:block th:with="totalGoodsPrice=0">
				
		
			<!--<th:block th:each="cart : ${myCartList}">
					

					<p th:text="${cart.cart_goods_qty}"></p>
					<p th:text="${myGoodsList[cartStat.index].goods_price}"></p>
					
				</th:block>				-->

			<!--총 상품가격-->
			<p>총 상품가격
				<span id="goodsPrice" th:text="${totalGoodsPrice != 0 ? #numbers.formatInteger(totalGoodsPrice, 3, 'COMMA') : 0}"></span>원
			</p>
			+
			<!--총 배송비-->
			<p>총 배송비
				<span id="deliveryPrice" th:text="${#numbers.formatInteger(totalDeliveryPrice, 3, 'COMMA')}"></span>원
			</p>
			=
			<!--총 주문금액-->
			<p>총 주문금액
				<span id="totalPrice" th:text="${#numbers.formatInteger(totalGoodsPrice + totalDeliveryPrice, 3, 'COMMA')}"></span>원
			</p>
			</th:block>
		</div>
		<!-- 선택상품 가격표시 영역  -->

		<!-- 선택상품 주문하기  -->
		<button onclick="fn_order_all_cart_goods()">주문하기</button>
		<!-- 선택상품 주문하기  -->
	</div>

	<script th:inline="javascript">
		function selectValue(selectBox, value, goods_id, index,goods_price) {
			var input = selectBox;
			console.log(goods_price);
			input.setAttribute("value", value);
			modify_cart_qty(index, goods_id, value,goods_price);
		}

		function modify_cart_qty(index, goods_id, value,goods_price) {
			var cart_goods_qty = Number(value);
			var goods_tot = goods_price * cart_goods_qty;
			var formattedTotal = formatNumber(goods_tot);
			$.ajax({
				type: "POST",
				async: false,
				url: '/cart/modifyCartQty.do',
				data: {
					goods_id: goods_id,
					cart_goods_qty: cart_goods_qty
				},
				success: function (data, textStatus) {
					if (data.trim() === 'modify_success') {
						$('.list_qty').eq(index).text(cart_goods_qty);
						$('.goods_tot_price').eq(index).text(formattedTotal);
						$('.goods_price').eq(index).text(goods_tot);
						$('.goods_info_box')
						alert("수량을 변경했습니다!!");
						
					} else {
						alert("다시 시도해 주세요!!");
					}
				},
				error: function (data, textStatus) {
					alert("에러가 발생했습니다." + data);
				},
				complete: function (data, textStatus) {
				}
			});
		}
		function formatNumber(num) {
		    return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}

		function delete_cart_goods(cart_id) {
			var cart_id = Number(cart_id);
			var formObj = document.createElement("form");
			var i_cart = document.createElement("input");
			i_cart.name = "cart_id";
			i_cart.value = cart_id;
			formObj.appendChild(i_cart);
			document.body.appendChild(formObj);
			formObj.method = "post";
			formObj.action ='/cart/removeCartGoods.do';
			formObj.submit();
		}

		function fn_order_all_cart_goods() {
			var objForm = document.frm_order_all_cart;
			var cart_goods_qty = objForm.cart_goods_qty;
			var checked_goods = objForm.checked_goods;
			var length = checked_goods.length;
			if (length > 1) {
				for (var i = 0; i < length; i++) {
					if (checked_goods[i].checked === true) {
						var order_goods_id = checked_goods[i].value;
						var order_goods_qty = cart_goods_qty[i].value;
						cart_goods_qty[i].value = order_goods_id + ":" + order_goods_qty;
					}
				}
			} else {
				var order_goods_id = checked_goods.value;
				var order_goods_qty = cart_goods_qty.value;
				cart_goods_qty.value = order_goods_id + ":" + order_goods_qty;
			}
			objForm.method = "post";
			objForm.action = '/order/orderAllCartGoods.do';
			objForm.submit();
			for (var i = 0; i < length; i++) {
				cart_goods_qty[i].value = cart_goods_qty[i].previousElementSibling.value;
			}
		}

		function fn_order_each_goods(goods_id, goods_title, goods_price, fileName) {
			var cart_goods_qty = document.getElementById("cart_goods_qty");
			var _order_goods_qty = cart_goods_qty.value;
			var formObj = document.createElement("form");
			var i_goods_id = document.createElement("input");
			var i_goods_title = document.createElement("input");
			var i_goods_price = document.createElement("input");
			var i_fileName = document.createElement("input");
			var i_order_goods_qty = document.createElement("input");

			i_goods_id.name = "goods_id";
			i_goods_title.name = "goods_title";
			i_goods_price.name = "goods_price";
			i_fileName.name = "goods_fileName";
			i_order_goods_qty.name = "order_goods_qty";

			i_goods_id.value = goods_id;
			i_order_goods_qty.value = _order_goods_qty;
			i_goods_title.value = goods_title;
			i_goods_price.value = goods_price;
			i_fileName.value = fileName;

			formObj.appendChild(i_goods_id);
			formObj.appendChild(i_goods_title);
			formObj.appendChild(i_goods_price);
			formObj.appendChild(i_fileName);
			formObj.appendChild(i_order_goods_qty);
			document.body.appendChild(formObj);

			formObj.method = "post";
			formObj.action = '/order/orderEachGoods.do';
			formObj.submit();
		}

		var cart_goods_qty_inputs = document.getElementsByName("cart_goods_qty");
		cart_goods_qty_inputs.forEach((input) => {
			let inputValue = input.value;
			let selectBox = input.previousElementSibling;
			let selectBox_len = selectBox.options.length;
			for (let i = 0; i < selectBox_len; i++) {
				if (selectBox.options[i].value == inputValue) {
					selectBox.options[i].selected = true;
				}
			}
		});

		var total = 0;
		var total_all = 0;
		const checkboxes = document.getElementsByName('checked_goods');
		var totalPrice = document.getElementById("totalPrice");
		var deliveryPrice = document.getElementById("deliveryPrice");
		var goodsPrice = document.getElementById("goodsPrice");

		function selectAll(selectAll) {
			const goods_price = document.querySelectorAll(".goods_price");
			checkboxes.forEach((checkbox) => {
				checkbox.checked = selectAll.checked;
			});
			if (selectAll.checked === true) {
				total_all = 0;
				total = 0;
				for (const i of goods_price) {
					total_all += i.innerHTML * 1;
					total = total_all + 3000;
				}
				goodsPrice.innerHTML = total_all.toLocaleString();
				totalPrice.innerHTML = total.toLocaleString();
			} else if (selectAll.checked === false) {
				for (const i of goods_price) {
					total_all -= i.innerHTML * 1;
					total = total_all + 3000;
				}
				goodsPrice.innerHTML = total_all.toLocaleString();
				totalPrice.innerHTML = total.toLocaleString();
			}
		}
		let all_select = document.querySelector(".all-deal-select");
		checkboxes.forEach((i) => i.addEventListener("click", function () {
			if (this.checked === true) {
				total_all += i.getAttribute("price") * 1;
				total = total_all + 3000;
			} else if (this.checked === false) {
				total_all -= i.getAttribute("price") * 1;
				all_select.checked = false;
				total = total_all + 3000;
			}
			goodsPrice.innerHTML = total_all.toLocaleString();
			totalPrice.innerHTML = total.toLocaleString();
		}));
	</script>


</body>

</html>